body {
    background-color: #f2f3f5;
}
/* *********HEADER */
.topBar {
    background-color: #0b0b31;
}

.topBar li {
    display: inline;
    list-style: none;
}  

.topBar a {
    color: #a9a9a9;
    text-decoration: none;
}

nav {
    text-align-last: center;
}

.logo button {
    color: #ffffff;
    background-color: #0b0b31;
    border-radius: 5%;
    padding: 1% 3%;
    margin: 2px 1%;
}
/* MAIN STYLING */
/* *****DOTS */
.dotRow button{
    background-color: #808080;
    padding: 3%;
    margin: 1% 1%;
    border-radius: 65%;
    border: none;
}
/****SECTIONs************ */
section h2 {
    color: #0e1e31;
}

.section p {
    color: #808eb1;
    margin:2px;
}

.section button {
    background-color: #213349;
    color: #ffffff;
    border-radius: 5%;
    border: none;
}
/* *******INFOBOX****** */

.infobox {
    background-image: radial-gradient(farthest-side at 334px -800px, #35557b 0%, #0f1821 100%);
}

.infobox h2 {
    color: #ffffff;
}
.infobox p{
      color: #808080;
}
.infobox button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #213349;
    color: #ffffff;
    border-radius: 5%;
    border: none;
    margin:2px;
}
/* ************SERVICES******** */
.services {
    position: relative;
    padding: 1% 0;
}

services li{
    color:#808080;
}

/* ******OPPORTUNITIES***** */
.services h5{
    color:#ffffff;
} 
/* ******NEWS************ */
.services h6{
    color: #ffffff;
}

.services img {
    border-radius: 20%;
}

/******* FOOTER******** */

footer {
    background-color: #0e1e31;
    color: #ffffff;
}
/* *******media********** */
@media (max-width: 576px) {

    .fourthBtn {
        margin-left: 1%;
    }
}

@media (max-width:991px) {
    .logo button {
        margin: 2px 1%;
    }
}

@media (min-width:992px) {
    .smart {
        border-top: solid 2px #808080;
    }
    
    .strong {
        border-top: solid 2px #808080;
        border-left: solid 2px #808080;
        border-right: solid 2px #808080;
    }

    .stable{
        border-top: solid 2px #808080;
    }
}